<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI Medical Assistant</title>

    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="login-container">

    <h1>🩺 AI Medical Assistant</h1>

    <p style="text-align:center; margin-bottom:25px; color:#555; line-height:1.6;">
        Your intelligent healthcare assistant.<br>
        Ask medical questions and receive AI-powered guidance instantly.
    </p>

    <button onclick="window.location.href='/login'">
        Login
    </button>

    <br><br>

    <button onclick="window.location.href='/register'"
        style="background:#10b981;">
        Register
    </button>

</div>

</body>
</html>